:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-gray-color: #f5f4fa;
    --footer-color: #2f303a;
    --logo-black-color: #000000;
    --mail-tel-color: rgba(255, 255, 255, 0.6);
    --line-header-color: #ececec;
    --card-item-border: #eeeeee;
    --hero-button-hover: #188ce8;
    --hero-bg: #c4c4c4;
    --clients-border: #afb1b8;
    --footer-soclink: rgba(255, 255, 255, 0.1);
    --background-projects-overlay: rgba(33, 150, 243, 0.9);
    --background-backdrop: rgba(0, 0, 0, 0.2);
    --border-modal-button: rgba(0, 0, 0, 0.1);
    --modal-form-input-border: rgba(33, 33, 33, 0.2);
    --placeholder-text: rgba(117, 117, 117, 0.5);
}